/*img{
  margin-left: 550px;
  display: block;
}

p{
  margin-left: 500px;
}

#play{
  margin-left: 520px;

}
*/
body{

  background-color: black;
}

div{
  margin-left: 500px;
}

h1{
  margin-left: 200px;
  font-family: monospace;
  color: white;
}

button{
  color: pink;
}

img{
  margin-left: 190px;
}

.myplaylist{
  color: blue;
  margin-left: 450px;
  padding-top: 20px;
  font-family: monospace;
}